@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@fontsource/ubuntu/300.css';
@import '@fontsource/ubuntu/400.css';
@import '@fontsource/ubuntu/500.css';
@import '@fontsource/ubuntu/700.css';

@theme {
    --color-background: oklch(95% 0 0);
    --color-foreground: oklch(0% 0 0);
    --color-primary: oklch(18% 0.0604 257);
    --color-primary-foreground: oklch(95% 0 0);
    --color-secondary: oklch(36% 0.144 279);
    --color-secondary-foreground: oklch(95% 0 0);
    --color-accent: oklch(65% 0.203 40);
    --color-accent-foreground: oklch(95% 0 0);
    --color-muted: oklch(50% 0 255);
    --color-muted-foreground: oklch(93% 0 0);
    --color-destructive: oklch(55% 0.22 25);
    --color-destructive-foreground: oklch(95% 0 0);
}

:root {
	--header-height: 4rem;
	--content-width: 84rem;
	--content-x-spacing: 1.5rem;
	--content-y-spacing: 12rem;

	@media (max-width: 768px) {
		--header-height: 3.5rem;
		--content-y-spacing: 6rem;
	}
}

@layer components {
	html {
		text-rendering: optimizeLegibility;
		font-smooth: always;
	}

	html,
	body {
		height: 100%;
	}

	body {
		font-family: 'Ubuntu', sans-serif;
	}

	@media (prefers-reduced-motion: no-preference) {
		:has(:target) {
			scroll-behavior: smooth;
		}
	}

	@keyframes scroll-up {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(-50%);
		}
	}

	@keyframes scroll-down {
		from {
			transform: translateY(-50%);
		}
		to {
			transform: translateY(0);
		}
	}

	.animate-up {
		animation: scroll-up 15s linear infinite;
	}

	.animate-down {
		animation: scroll-down 15s linear infinite;
	}
}

